{% extends 'layout.html.twig' %}

{% block content %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="lead no-margin">Oups! Something went terribly wrong.</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
