@import "compass/css3";

@import "../vendor/sass-bootstrap/lib/bootstrap";
$fa-font-path:  "../../src/vendor/font-awesome/fonts";
@import "../vendor/font-awesome/scss/font-awesome";

@import url('http://fonts.googleapis.com/css?family=Dosis|Ruluko');

$font-stack: Ruluko, Arial, Sans-Serif;
$secondary-font-stack: 'Dosis', Arial, Sans-Serif;
$primary-color: #f0f0f0;  /* #f1d7a6 */
$secondary-color: #e84e41;
$thirdary-color: #402f35;

$lead-font-color: #454545;
$body-font-color: #353535;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin spinner-transition($opacity, $max-width) {
  -webkit-transition: opacity $opacity, max-width $max-width;
  -moz-transition: opacity $opacity, max-width $max-width;
  -o-transition: opacity $opacity, max-width $max-width;
  -ms-transition: opacity $opacity, max-width $max-width;
  transition: opacity $opacity, max-width $max-width;
}