@import "base";

body {
  font-family: $font-stack;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  color: $body-font-color;
  font-weight: 200;
  background: $primary-color;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

h2, h3, h4, h5, h6 { font-family: $font-stack }

h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 48px;
  font-family: $font-stack;
  margin-bottom: 0
}
h2 { font-size: 24px; margin-top: 10px }
h3 { font-size: 24px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 16px }

a, a:visited, a:hover, a:active, a:focus, input, select, textarea { 
  outline: none; text-decoration: none
}
a:hover { color:#333 }
:focus, .btn:focus { outline: 0 }
.center { margin:0 auto }
.fa-li { margin-left:-8px; padding-top:2px }
.container { overflow: hidden }
.fa { text-rendering: auto }
.highlighted { color: $secondary-color }

a {
  @include transition(all 0.3s ease-in-out);
  color: $secondary-color
}

section { padding: 30px 0 }
#about {
  padding-top: 80px
}

.lead {
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $lead-font-color;
}

p { margin-bottom: 20px; }
#about h6 { margin: 20px 0; font-weight:400 }

#header {
  opacity: 0.95;
  border: 0px none;
}

.navbar-inverse { background-color: $thirdary-color }
.navbar-inverse .navbar-nav > li > a { color: $primary-color }
.navbar-inverse .navbar-nav > li > a:hover { color: $secondary-color }

#ajax-contact-form textarea { height:135px }
#ajax-contact-form input.form-control,
#ajax-contact-form textarea.form-control {
  background: transparent;
  color: $primary-color;
  background: rgba(255, 255, 255, .2);
  border: 0px none;
  margin-bottom: 15px;
  padding: 8px 10px ;
  font-weight: 100;
  font-size: 16px;
  @include box-shadow(none);
  @include border-radius(6px);
}

.form-control::-webkit-input-placeholder { color: $primary-color; opacity: 1.0 }
.form-control::-moz-placeholder { color: $primary-color; opacity: 1.0 }
.form-control::-ms-input-placeholder { color: $primary-color; opacity: 1.0 }
focus::-webkit-input-placeholder { color: transparent; opacity: 1.0 }
.form-control input:focus, .form-control textarea:focus { color: $primary-color; outline: none }

.btn-group button.btn {
  padding: 15px 25px;
  background-color: #2E3138;
  color: $primary-color;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-group button.btn:hover {
  background-color: $primary-color;
  cursor: pointer;
  color: #222;
  @include transition(all 0.3s ease-in-out);
}

.thumbnail { padding: 9px 4px 4px 4px }
.caption {
  font-size: 12px;
  padding: 9px 4px;
  max-height: 94px;
  overflow: hidden;
}
.caption p { margin-bottom: 0 }

.bordered-color {
  clear: both;
  height: 8px;
}

.border {
  width: 33.33%;
  float: left;
  height: 8px;
}

.orange { background-color: #e89141 }
.blue { background-color: #2a828e }
.green { background-color: #32b248 }

#contact { color: $primary-color; background: $secondary-color }
#contact .lead, #contact h1 { color: $primary-color }
#contact h2 { color: $primary-color; line-height: 30px }
#contact a { color: #444 }
#contact a:hover { color: $primary-color }
.inverse { color: #444 }

.social-icons { font-size: 40px; list-style-type: none; margin: 20px 0px 25px -38px }
.social-icons li { list-style-type: none; float: left; margin: 20px 15px 25px 0px }
.social-icons ul li:last-child { margin-right: 0px }
.social-icons li a { color: $primary-color !important }
.social-icons li a:hover { color: #2E3138 !important }

.copyright {
  font-size: 12px;
  font-weight: 200;
  letter-spacing:2px;
  text-transform: uppercase;
  color: $primary-color;
  margin: 10px auto;
}

.avatar-wrapper {
  position: fixed;
  top: -5px;
  left: 40px;
  z-index: 9999;
}

figure { margin: 0 }

.user-avatar {
  background-color: $primary-color;
  border-color: $primary-color;
  background: #666 50% 50% no-repeat;
  background-size: 106px 106px;
  display: block;
  height: 106px;
  width: 106px;
  border: 4px solid $primary-color;
  position: relative;
  @include border-radius(50%);
}

figure a:hover {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

footer {
  background: $thirdary-color;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
footer a { color: $secondary-color }
footer a:hover { color: #999 }