{% extends "layout.html" %}

{% block content %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1>Thibaud</h1>
                <div class="lead">
                    Chef de projet / Développeur<br />
                    <span class="highlighted">
                    <strong>
                        <a href="http://www.zend.com/fr/store/education/certification/authenticate.php/ClientCandidateID/ZEND013240/RegistrationID/234368098"
                           target="_blank">
                            Zend Certified Engineer PHP5
                        </a>
                    </strong>
                    </span>, je travaille principalement sur des architectures open-sources /
                    <span class="highlighted">PHP</span> /
                    <span class="highlighted">Zend Framework</span> /
                    <span class="highlighted">Symfony2</span> /
                    <span class="highlighted">Python</span>.
                    Mais aussi sur le développement Front-end,
                    <span class="highlighted">HTML5</span>,
                    <span class="highlighted">Javascript</span>,
                    <span class="highlighted">Grunt</span>,
                    <span class="highlighted">Node.js</span>,
                    <span class="highlighted">Express</span>, ...
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1>Contact</h1>
                <div class="lead">
                    Restons en <strong>contact</strong> !
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h2>Intéressé par mes compétences <br />ou simplement une question, un commentaire ?</h2>
                        <p>
                            Contactez moi par mail ou via le formulaire.<br />Venez faire un tour sur mon GitHub.
                        </p>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-home inverse"></i>
                                <span class="inverse">Paris</span>
                            </li>
                            <li>

                                <a href="mailto:thibaud@groovinmove.com">
                                    <i class="fa-li fa fa-envelope inverse"></i>
                                    thibaud@groovinmove.com
                                </a>
                            </li>
                            <li>
                                <a href="http://www.thibaudanthoine.com">
                                    <i class="fa-li fa fa-globe inverse"></i>
                                    www.thibaudanthoine.com
                                </a>
                            </li>
                        </ul>

                        <ul class="social-icons">
                            <li>
                                <a href="http://www.linkedin.com/in/thibaudanthoine" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/thibaudanthoine" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/thibaudanthoine" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.flickr.com/thibaudanthoine" target="_blank">
                                    <i class="fa fa-flickr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <form id="ajax-contact-form" role="form">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <input class="form-control" id="name" type="text" name="name" value=""
                                           placeholder="Nom" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <input class="form-control" id="email" type="email" name="email" value=""
                                           placeholder="Email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <input class="form-control" id="subject" type="text" name="subject" value=""
                                           placeholder="Sujet" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <textarea class="form-control" name="message" id="message"
                                              placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <div class="btn-group">
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="reset" class="btn">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}